<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="../models/car.js"></script>
  <script src="../models/wheel.js"></script>
  <script src="../controllers/controller.js"></script>
  <style type="text/css">
  
  input:invalid {
    border-color: rgb(134, 43, 6);
  }
 
  </style>
</head>
<body class="container"> 
  <h1 class="text-center" id="carInfo">Exercici Vehicles</h1 >

<!-- таблица авто -->

    <div id="carForm">
      <div class="form-row my-4">

        <div class="col">
          <label>Plate</label> <input class="form-control" type="string" id="plate" value="2143KPD"/>
        </div>

        <div class="col">
          <label>Brand</label> <input class="form-control" type="string" id="brand" value="VOLKSWAGEN"/>
        </div>

        <div class="col" >
          <label>Color</label> <input class="form-control" type="string" id="color" value="BLANCO"/>
        </div>
      </div>
      
      <button
        type="button"
        class="btn btn-info"
        onclick="createCar()">
        Create car
      </button>
    
    </div>
    
<!-- таблица колеса -->

  <div id="wheelform" class="container d-none">

      
        <div class="form-row my-4">
  
          <div class="col-3">
            <label>Marca Rueda 1</label> <input class="form-control" id="brand1" value="VW" />
          </div>
  
          <div class="col-3">
            <label>Diametro Rueda 1</label> <input class="form-control" id="diameter1" type="number" value="1" min="0.4" max="2" step="0.1" />
          </div>
  
          <div class="col-3">
            <label>Marca Rueda 2</label> <input class="form-control" id="brand2" value="VW"/>
          </div>

          <div class="col-3">
            <label>Diametro Rueda 2</label> <input class="form-control" id="diameter2" type="number" value="1" min="0.4" max="2" step="0.1"/>
          </div>

          <div class="col-3">
            <label>Marca Rueda 3</label> <input class="form-control" id="brand3" value="VW"/>
          </div>
  
          <div class="col-3">
            <label>Diametro Rueda 3</label> <input class="form-control" id="diameter3" type="number" value="1" min="0.4" max="2" step="0.1"/>
          </div>
  
          <div class="col-3">
            <label>Marca Rueda 4</label> <input class="form-control" id="brand4" value="VW"/>
          </div>

          <div class="col-3">
            <label>Diametro Rueda 4</label> <input class="form-control" id="diameter4" type="number" value="1" min="0.4" max="2" step="0.1"/>
          </div>
        </div>

        <button
        type="button"
        class="btn btn-info"
        onclick="createWheel()">
        Add wheels
        </button>   

  </div>

<!-- вывод данных -->
<div class="card my-4">
 <div class="card-header font-weight-bold h4" id="car">
 </div>
  <div class="card-body">
    <div class="row">

      <div class="col-3">
        <p class="card-text" id="infoPlate"></p>
      </div>

      <div class="col-3">
        <p class="card-text" id="infoColor"></p>
      </div>

      <div class="col-3">
        <p class="card-text" id="infoBrand"></p>
      </div>

    </div>
  </div> 
</div> 

<div class="card my-4">
  <div class="card-header font-weight-bold h4" id="wheel">
  </div>
    <div class="card-body">
      <div class="row">

        <div class="col-3">
          <p class="card-text" id="infoWheel1"></p>
        </div>
  
        <div class="col-3">
          <p class="card-text" id="infoWheel2"></p>
        </div>
  
        <div class="col-3">
          <p class="card-text" id="infoWheel3"></p>
        </div>

        <div class="col-3">
          <p class="card-text" id="infoWheel4"></p>
        </div>
  
      </div>
  </div>
</div>

</body>
</html>